* {
    border: 1px solid red;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1F2937;
}

.header-logo {
    display: flex;
    justify-self: flex-start;
}

.header-links {
    display: flex;
    justify-self: flex-end;    
}

.header-links ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.container-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #1F2937;
}

.container-1-left {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.container-1-left-title {
    display: flex;
    justify-content: left;
}

.container-1-left-text {
    display: flex;
    justify-content: left;
}

.container-1-left-button {
    display: flex;
    justify-content: left;
}

.container-1-right {
    display: flex;
}

.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-2-title {
    display: flex;
    justify-content: center;
}

.container-2-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-3 {
    display: flex;
    flex-direction: column;
}

.container-3-quote {
    display: flex;
    justify-self: left;
}

.container-3-author {
    display: flex;
    justify-self: right;
}


.container-4 {
    display: flex;
    justify-content: center;
}

.container-4-box {
    display: flex;
    flex-direction: row;
}

.container-t-box-textbox {
    display: flex;
    flex-direction: column;
}

.container-4-box-title {
    display: flex;
    justify-content: left;
}

.container-4-box-text {
    display: flex;
    justify-content: left;
}

.container-4-box-button {
    display: flex;
    justify-content: right;
}

.footer {

display: flex;
justify-content: center;
justify-self: flex-end;
background-color: #1F2937;
}